body {
    margin: 0px;
}

/*komentar*/

.navbar {
    background-color: aqua;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-color: beige;
    padding-left: 30px;
}

.links {
    background-color: yellow;
    padding-right: 30px;
}

a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
    text-decoration: underline;
}